/*EXTEND*/

.tituloProductos {
    background-color:  #1E8449;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}

.tituloProductos h2 {
    font-size: 5rem;
}


.segundoEstilo {
    font-size: 35px;
    @extend .primerEstilo;
}